@import "../../styles/_variables";
@import "../../styles/_tables";
@import "../../styles/_nouislider-override";
@import '../../styles/_mixins.scss';

.systeminformation {
    .card {
        padding: 20px;
    }

    .title {
        .main-title {
            font-size: 36px;
            font-family: Arial;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .form-horizontal {
        .form-group {
            .form-label {
                text-align: left !important;
            }

            .form-control {
                border-radius: 0px;
                font-size: 16px;
                height: 60px;
            }

            .date-input {
                height: 58px;

            }

        }
    }

    .innercard-wrapper {
        margin: 5px;
    }

    .heading-col {
        padding-left: 50px;
    }

    .sysinfo-row {
        margin-left: -45px;
        margin-right: -45px;
        min-height: 37px;
    }

    .tab-slide {
        margin-top: 8px !important;
        margin-left: 12px !important;
    }

    .tab-slider--container {
        margin: 0px;
    }

    select:focus {
        outline: none;
    }

    .tab-slider--nav {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

    .tab-slider--tabs {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        border-radius: 35px;
        overflow: hidden;
        background: #ebebeb;
        height: 35px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .tab-slider--tabs:after {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        border-radius: 35px;
    }

    .tab-slider--tabs.slide:after {
        left: 50%;
    }

    .tab-slider--trigger {
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        color: #345F90;
        text-transform: uppercase;
        text-align: center;
        padding: 11px 20px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        display: inline-block;
        -webkit-transition: color 250ms ease-in-out;
        transition: color 250ms ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .tab-slider--trigger.active {
        color: #fff;
        background: #345F90;
    }

    .tab-slider--trigger-device {
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        color: #345F90;
        text-transform: uppercase;
        text-align: center;
        padding: 11px 20px;
        position: relative;
        z-index: 2;
        display: inline-block;
        -webkit-transition: color 250ms ease-in-out;
        transition: color 250ms ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.red-input {
    border: 1px solid red;
}