<!-- <p>guardlogs works!</p> -->
<div class="alert-modal">
    <div class="smart-tables">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" style="min-width: 600px;">
                    <div class="row" style="margin-left: 5px; margin-right: 5px; min-height: 37px;">
                        <div class="col-xs-2 text-left">&nbsp;
                        </div>
                        <div class="alert-modal-title">
                            <header class="row title">
                                <div class="col-xs-12">
                                    <span class="main-title" style="float: left; font-weight: bold">Jon Doe </span>
                                    <span class="main-title" style="float: right; font-weight: bold">EMAIL: jon@doe.com
                                    </span>
                                </div>
                            </header>
                        </div>
                        <div class="row mt-25">&nbsp;</div>
                        <table aria-describedby="" class="table table-stripes guardlog_table">
                            <tr style="background:#bbb;border: 1px solid white;">
                                <th style="height: 0; width: 0;" hidden></th>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 12/09/19
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:04 AM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:32 PM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> BASIC USER
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 112233445566
                                </td>

                            </tr>
                            <tr style="background:#bbb;border: 1px solid white;">
                                <th style="height: 0; width: 0;" hidden></th>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 12/09/19
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:04 AM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:32 PM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> ADVANCE USER
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 112233445566
                                </td>
                            </tr>
                            <tr style="background:#bbb;border: 1px solid white;">
                                <th style="height: 0; width: 0;" hidden></th>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 12/09/19
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:04 AM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:32 PM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> BASIC USER
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 112233445566
                                </td>
                            </tr>
                            <tr style="background:#bbb;border: 1px solid white;">
                                <th style="height: 0; width: 0;" hidden></th>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 12/09/19
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:04 AM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:32 PM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> BASIC USER
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 112233445566
                                </td>
                            </tr>
                            <tr style="background:#bbb;border: 1px solid white;">
                                <th style="height: 0; width: 0;" hidden></th>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 12/09/19
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:04 AM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 10:32 PM </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> BASIC USER
                                </td>
                                <td style="height: 60px; vertical-align: middle;" class="color"> 112233445566
                                </td>
                            </tr>
                        </table>
                        <!-- <mat-paginator #paginatorLogs class="paginator" [pageSizeOptions]="[]" [pageSize]="50"
                                    style="display: none;">
                                </mat-paginator> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>