@import '../../../../styles/_variables.scss';

.inputWrapper {
  .card {
    padding: 20px;

    .title {
      .main-title {
        font-family: Arial;
        font-size: 36px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    .form-horizontal {
      .form-group {
        .form-label {
          text-align: left !important;
        }

        .form-control {
          border-radius: 0px;
          font-size: 16px;
          height: 60px;
          font-weight: bold;
        }

        .date-input {
          height: 58px;
        }
      }
    }
  }
}

.basic-user {
  display: none;
}

.action-icon-tooltip {
  display: inline-block;
  position: relative;
  opacity: 1;

  .action-icon {
    border-radius: 50%;
    color: gray;
    cursor: pointer;
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    width: 36px;

    &:hover {
      color: $libertyBlue;
    }
  }

  .action-tooltip {
    background-color: $libertyBlue;
    border-radius: 0px;
    // box-shadow: $shadow;
    display: none;
    left: 45px;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    z-index: 999;

    .action-tooltip-point {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $libertyBlue;
      bottom: -7px;
      left: 26px;
      position: absolute;
    }

    .action-tooltip-text {
      color: $libertyBlue;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: $letter-spacing-xxxs;
      line-height: 1.5;
      margin-bottom: 0px;
    }

    &.action-tooltip-alt {
      background-color: #EBEBEB;
      width: 340px;

      .action-tooltip-point {
        border-top-color: #EBEBEB;
      }

    }
  }

  &:hover {
    .action-tooltip {
      display: block;
    }

    @media only screen and (device-width: 768px) {
      /* For general iPad layouts */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }

    // iPhone X in landscape
    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)and (orientation: landscape) {}

    // iPhone X in portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

    @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {}
  }
}

.mat-mdc-select-panel .mat-option {
  font-size: inherit;
  line-height: 2em !important;
  height: 2em !important;
}

.mat-drop {
  padding-top: 16px;
}

.mat-pseudo-checkbox {
  display: none !important;
}

.mat-mdc-option.mdc-list-item {
  min-height: 40px;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

div.mat-mdc-select-panel {
  background-color: white !important;
  position: absolute !important;
  margin-left: -12px !important;
  border-radius: 5px !important;
  padding: 0px 0 !important;
}

.cdk-overlay-pane .mat-mdc-option:hover:not(.mat-mdc-option-disabled),
.cdk-overlay-pane .mat-mdc-option:focus:not(.mat-mdc-option-disabled) {
  &:hover {
    background-color: #1a73e8 !important;
    color: #fff !important;
    transition: background-color 0.3s ease;

  }
}
