app-responsive-breakpoints {
	display: block;

	// XS || SM to show push menu
	.visible-xs-or-sm-block {
		display: none !important;
	}
	@media (max-width: 767px) {
		.visible-xs-or-sm-block {
			display: block !important;
		}
	}
}
