@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.addaccount {
	.card {
		padding: 20px;

		.title {
			.main-title {
				font-size: 36px;
				font-family: Arial;
				font-weight: bold;
				text-transform: capitalize;
			}
		}

		.form-horizontal {
			.form-group {
				.form-label {
					text-align: left !important;
				}

				.form-control {
					border-radius: 0px;
					font-size: 16px;
					height: 60px;
				}

				.date-input {
					height: 58px;

				}

			}
		}
	}
}

.basic-user {
	display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.eye-show {
	position: absolute;
	top: 20px;
	font-size: 20px;
	right: 20px;
}

.mat-select-panel .mat-option {
	font-size: inherit;
	line-height: 2em !important;
	height: 2em !important;
}

.mat-drop {
	padding-top: 16px;
}

.cdk-overlay-pane .mat-option:hover:not(.mat-option-disabled),
.cdk-overlay-pane .mat-option:focus:not(.mat-option-disabled) {
	background-color: #1a73e8;
	color: #fff;
}