<!-- <p>threaticondetails works!</p> -->

<div class="alert-modal" style="width: 400px;">
    <div id="smart-tables">
        <div class="row">
            <div class="col-xs-12">
                <div class="innercard-wrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-wrapper">
                                <table aria-describedby="" class="table table-stripes mb-0">
                                    <tr>
                                        <th> &nbsp; </th>
                                        <th> GUARD NAME </th>
                                        <th> TABLET ID </th>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" id="test" (click)="togglePlusMinus()" src="../../../../assets/images/minus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> Jon Doe </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" (click)="togglePlusMinus()" src="../../../../assets/images/minus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> Leroy Smith </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" (click)="togglePlusMinus()" src="../../../../assets/images/plus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> Chas Reed </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" (click)="togglePlusMinus()" src="../../../../assets/images/plus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> Randi Miller </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" (click)="togglePlusMinus()" src="../../../../assets/images/plus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> William Bland </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                    <tr>
                                        <td> <img alt="" (click)="togglePlusMinus()" src="../../../../assets/images/plus_icon.png" style="margin-bottom: 2px;" alt="Add/Remove Guard" /> </td>
                                        <td> Cuyler Martin </td>
                                        <td> 11.22.33.44.55.66 </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <img alt="" src="../../../../assets/imgs/Warning.png" alt="Anomaly">
        </div>

        <div class="col-xs-7">
            <span class="device-details-txt">
                <strong>Threat Status:</strong>
                <span><strong>Anomaly</strong></span>
            </span>

            <span class="device-details-txt">
                <strong>Threat Type:</strong>
                <span><strong> Metal </strong></span>
            </span>

            <span class="device-details-txt">
                <strong>Date:</strong>
                <span><strong> 12/12/2019 </strong></span>
            </span>

            <span class="device-details-txt">
                <strong>Time:</strong>
                <span><strong> 4:38 PM </strong></span>
            </span>

            <span class="device-details-txt">
                <strong>Guard:</strong>
                <span><strong> Jon Doe </strong></span>
            </span>
        </div>
    </div>

    <div class="row" style="height: 20px;"></div>

    <div class="alert-modal-buttons">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <button type="submit" class="btn alert-modal-button globalButton" (click)="viewActivity()">View Activity</button>
        </div>
        <div class="col-xs-2"></div>
    </div> -->
</div>