<div class="alert-modal">
    <div>
        <h4 class="alert-modal-title">Alert
            <img alt="" src="../../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()"
                style="cursor: pointer;border: solid 0px;height: 20px; width: 20px;margin-right:10px; float: right;" />
        </h4>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-10">
            <div>
                <span class="form-label form-label-big col-sm-12"
                    style="margin-block: 25px;font-size: 16px;font-weight: bold;">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{text}}
                </span>
            </div>
        </div>
        <div class="col-xs-1">&nbsp;</div>
    </div>
    <div class="row alert-modal-buttons">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <button type="button" class="btn alert-modal-button" (click)="onScreenClose()">
                <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:20px;"></i><br>
                <p class="mt-2"> OK</p>
            </button>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>