<div class="alert-modal">
    <div>
        <h4 class="alert-modal-title">{{title}}
            <img alt="" src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()"
                style="cursor: pointer;border: solid 0px;height: 20px; width: 20px;margin-right:10px; float: right;" />
        </h4>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-10">
                <div>
                    <span class="form-label form-label-big col-sm-12"
                        [ngStyle]="longtext==true?{'margin-block': '7px','font-size': '16px', 'line-height': '26px', 'text-align': 'left'} : {'margin-block': '25px','font-size': '16px', 'line-height': '26px', 'text-align': 'center'}">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{text}}
                    </span>
                </div>
            </div>
            <div class="col-xs-1">&nbsp;</div>
        </div>
        <div class="row alert-modal-buttons">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <button type="submit" (click)="onScreenClose()" class="btn alert-modal-button"
                    style="margin-left: 15px;">
                    <span><i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:20px;"></i></span>
                    <p>OK</p>
                </button>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>