<div class="inputWrapper systemdashboard">
    <div id="smart-tables">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-1 link_back">&nbsp;</div>
                        <div class="col-xs-10">&nbsp;</div>
                        <div class="col-xs-1" style="text-align: right;">&nbsp;</div>
                    </div>
                    <div class="innercard-wrapper">
                        <header class="row title">
                            <div class="col-lg-6 col-xs-12">
                                <h2 class="main-title" style="font-size: 32px !important; margin-top: 30px;" translate>
                                    dashsystemstatus</h2>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12" (click)="showNotifications()"
                                        style="vertical-align: middle;">
                                        <button style="float:right; margin-top: 35px !important;" type="button"
                                            class="btn-notifications" mat-icon-button>
                                            <i style="color: #000; font-size: 14px;" *ngIf="!notificationCount"
                                                class="fa fa-bell-o">
                                            </i>
                                            <i style="color: red; font-size: 14px;" *ngIf="notificationCount"
                                                class="fa fa-bell">
                                            </i>
                                            <!-- <span *ngIf="notifications.length" class="notifications-count">{{ notifications.length }}</span> -->
                                            <span
                                                style="color: #000; font-size: 11px !important; margin-left: 5px; font-weight: normal; vertical-align: middle;">{{
                                                this.notificationCount }}
                                                NOTIFICATIONS</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-lg-2 col-md-3 col-sm-6"></div>
                                    <div class="col-xs-12 col-lg-3 col-md-4 col-sm-12">
                                        <button class="globalButton" type="button" (click)="onManageLanes()">
                                            <span><img alt="" src="../../../assets/images/lan.png"
                                                    style="margin-top: 10px; margin-bottom: 10px;">
                                            </span>
                                            <p translate>dashmanagelanes</p>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-lg-3 col-md-4 col-sm-12">
                                        <button class="globalButton" type="button" (click)="onManageGates()"
                                            style="padding: 0px;letter-spacing: 0px; width:125px !important;">
                                            <span>
                                                <img alt="" src="../../../assets/images/gate.png"
                                                    style="margin-top: 10px; margin-bottom: 10px;">
                                            </span>
                                            <p translate>dashmanagegates</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="row">
                            <div class="col-lg-12 col-xs-12 pd-left-5 pd-right-5">
                                <div class="row">
                                    <div class="col-xs-12 text-center" style="min-height: 28px;">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center" style="min-height: 28px;">
                                        <mat-accordion>
                                            <mat-expansion-panel
                                                *ngFor="let item of entrances; trackBy: trackEntranceById">
                                                <mat-expansion-panel-header (click)="filterContent(item.entranceId)">
                                                    <mat-panel-title>
                                                        <table aria-describedby="" class="table table-stripes"
                                                            style="margin-top: 15px;">
                                                            <tr>
                                                                <th colspan="2" class="mat-header-cell"
                                                                    style="font-weight: bold; font-size: 16px; color: #143345; border-bottom: 0px;width: 100%;">
                                                                    <div
                                                                        style="display: flex; justify-content: space-between; align-items: center;">
                                                                        <div style="text-align: left;">
                                                                            {{item.entranceName}}
                                                                        </div>
                                                                        <div style="text-align: right;">
                                                                            <span
                                                                                style="font-size: 14px; font-weight: bold; margin-right: 5px;"></span>
                                                                            <i class="fa fa-bell"
                                                                                style="font-size: 14px; color: red;"></i>
                                                                            <span
                                                                                style="margin-left: 5px; font-weight: bold; color:#000;">{{item.totalThreats}}</span>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <table aria-describedby="" class="table table-stripes" mat-table
                                                    [dataSource]="dataSourceGate" matSort #sortGate="matSort"
                                                    matSortActive="leftDeviceName" matSortDirection="asc"
                                                    matSortDisableClear>
                                                    <!-- <ng-container matColumnDef="entranceName">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span
                                                                translate>dashgatename</span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="width: 120px; font-size: 14px; font-weight: bold; font-family: Arial; height: 60px; vertical-align: middle;">
                                                            {{row.entranceName}} </td>
                                                    </ng-container> -->
                                                    <ng-container matColumnDef="laneName">
                                                        <th mat-header-cell *matHeaderCellDef> <span translate>
                                                                dashlanename </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="font-size: 14px; font-weight: bold; font-family: Arial; height: 60px; vertical-align: middle; text-align: left;">
                                                            {{row.laneName}} </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="status">
                                                        <th mat-header-cell *matHeaderCellDef
                                                            style="text-align: center; text-align: left;"> <span
                                                                translate>
                                                                dashportalstatus </span> </th>
                                                        <td mat-cell *matCellDef="let row" [ngStyle]="{
                                                                  'text-align': 'left',
                                                                  'height': '60px',
                                                                  'vertical-align': 'middle',
                                                                  'color': row.rightDeviceID && row.leftDeviceID && row.tabletId ? 'green' : '#ff0000'
                                                                }">
                                                            {{ row.rightDeviceID && row.leftDeviceID && row.tabletId ?
                                                            'Paired' : 'Unpaired' }}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="threatIcon">
                                                        <th mat-header-cell *matHeaderCellDef
                                                            style="text-align: center; text-align: left;"> <span
                                                                translate>
                                                                dashviewthreatmonitoring </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="text-align: left; height: 60px; vertical-align: middle;">
                                                            <!-- <i class="fa fa-eye" title="View Threat" (click)="viewThreat(row)" style="cursor: pointer; font-size:20px; color: #3597EC;"></i> -->
                                                            <img alt="" src="../../../assets/images/eye_icon.png"
                                                                (click)="viewThreat(row)" title="View Threat"
                                                                alt="View Threat" style="cursor: pointer;" />
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="threatType">
                                                        <th mat-header-cell *matHeaderCellDef
                                                            style="vertical-align: middle;"> <span
                                                                translate> dashdetails
                                                            </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="text-align: left; height: 60px; vertical-align: middle;">
                                                            <!-- <i class="fa fa-chevron-right" title="View Details" [routerLink]="['/admin/dashboard/threatdetails']" style="cursor: pointer; font-size:20px; color: #3597EC;"></i> -->
                                                            <img alt="" src="../../../assets/images/arrow_icon.png"
                                                                title="View Details" alt="View Details"
                                                                style="cursor: pointer;"
                                                                (click)="onDeviceDetails(row)" />
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="leftDeviceName">
                                                        <th mat-header-cell *matHeaderCellDef> <span translate>
                                                                dashleftdevicee </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="font-size: 14px; font-weight: bold; font-family: Arial; height: 60px; vertical-align: middle; text-align: left;">
                                                            {{row.leftDeviceMacAddress}} </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="leftdeviceactions">
                                                        <th mat-header-cell *matHeaderCellDef
                                                            style="text-align: center; text-align: left;"> <span
                                                                translate> dashleftdeviceactions
                                                            </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="text-align: left; height: 60px; vertical-align: middle;">
                                                            <!-- <i class="fa fa-chevron-right" title="View Details" (click)=" onDeviceDetailClick()" style="cursor: pointer; font-size:20px; color: #3597EC;"></i> -->
                                                            <img alt="" src="../../../assets/images/arrow_icon.png"
                                                                (click)="openDeviceDetailDialog(row.leftDeviceName,row.entranceID,row.entranceName,row,'left')"
                                                                title="View Left Device Actions"
                                                                alt="View Left Device Actions"
                                                                style="cursor: pointer;" />
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="rightDeviceName">
                                                        <th mat-header-cell *matHeaderCellDef> <span translate>
                                                                dashrightdevicee </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="font-size: 14px; font-weight: bold; font-family: Arial; height: 60px; vertical-align: middle; text-align: left;">
                                                            {{row.rightDeviceMacAddress}} </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="rightdeviceactions">
                                                        <th mat-header-cell *matHeaderCellDef
                                                            style="text-align: center; text-align: left;"> <span
                                                                translate> dashrightdeviceactions
                                                            </span> </th>
                                                        <td mat-cell *matCellDef="let row"
                                                            style="text-align: left; height: 60px; vertical-align: middle;">
                                                            <!-- <i class="fa fa-chevron-right" title="View Details" (click)=" onDeviceDetailClick()" style="cursor: pointer; font-size:20px; color: #3597EC;"></i> -->
                                                            <img alt="" src="../../../assets/images/arrow_icon.png"
                                                                (click)="openDeviceDetailDialog(row.rightDeviceName,row.entranceID,row.entranceName,row,'right')"
                                                                title="View Right Device Actions"
                                                                alt="View Right Device Actions"
                                                                style="cursor: pointer;" />
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGate"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsGate;"
                                                        (click)="selection.toggle(row)"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>