@import '../../../styles/_variables';
@import '../../../styles/_tables';

.notifications_screen{
    #smart-tables {
        .card{
            .innercard-wrapper{
                .title{
					.main-title{
						font-family: Arial;
						font-size: 36px;
						font-weight: bold;
					}
                }
                .globalButton{
					font-family: Arial;
					font-size: 16px;
					font-weight: 700;
					letter-spacing: 2px;
                }
                .table-wrapper{
					.mat-table{
						.mat-header-row{
							.mat-header-cell{
								height: 64px;
								
								.mat-sort-header-container{
									display: block !important;

									.mat-sort-header-button{
										
										color: $tableHeaderColor;
										font-family: Arial;
										font-size: 16px;
									}
								}
							}
							.mat-column-select{
								.mat-checkbox{
									label{
										margin-bottom: 0px;
										text-align: center;

										.mat-checkbox-inner-container{
											height: 18px;
											width: 18px;

											.mat-checkbox-frame{
												border-color: #E4E4E4;
											}
										}
									}
								}
							}
						}
					
                        
						tr{
							td{
								color: $libertyBlue;
								font-family: Arial;
								font-size: 16px;
								vertical-align: middle;
							}
						}
						.mat-column-select{
							background: $white;
							padding-left: 0px;
			
							.mat-checkbox{
								label{
									text-align: center;

									.mat-checkbox-inner-container{
										height: 24px;
										width: 24px;

										.mat-checkbox-frame{
											border-color: #E4E4E4;
										}
									}
								}
							}
						}
						
                    }
                }
            }
        }
    }
}
.mat-sort-header-container{
	display: block !important;
}
.btn_background_color
{
	background-color:#143345;
	border-radius: 10px;
}