<div class="inputWrapper tablet">
    <div id="smart-tables">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
                        <div class="col-xs-2 text-left">&nbsp;
                            <!-- <img alt="" src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()"
                                style="cursor: pointer;" /> -->
                        </div>
                        <div class="col-xs-9 text-right">
                        </div>
                        <div class="col-xs-1 text-right">
                            <img alt="" src="../../../assets/images/closescreen_icon.jpg" style="cursor: pointer;"
                                (click)="onScreenClose()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 link_back">&nbsp;</div>
                        <div class="col-xs-10">&nbsp;</div>
                        <div class="col-xs-1" style="text-align: right;">&nbsp;</div>
                    </div>
                    <div class="innercard-wrapper">
                        <header class="row title  pd-left-75">
                            <div class="col-xs-12">
                                <h2 class="main-title" translate>menuDeviceManagement</h2>
                                <!-- <span class="close">&times;</span> -->
                            </div>
                        </header>
                        <div class="row">
                            <div class="col-lg-8 col-xs-12" style="vertical-align:middle;">
                                <div class="search-bar-wrapper pd-left-75">
                                    <i class="search-bar-icon fa fa-search"></i>
                                    <input class="search-bar-input" type="text" matInput
                                        (keyup)="applyFilter($event.target.value)"
                                        placeholder="{{'accSearch' | translate}}" style="font-weight: bold;">
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12">
                                        <button class="globalButton figmabtnsqr100"
                                            [disabled]="selection.selected.length===0 || selection.selected.length>1"
                                            (click)="editDevice()">
                                            <span><i class="fa fa-pencil-square-o fa-2x btnIcon"></i></span>
                                            <p class="buttonName" translate>tabeditdevice</p>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12">
                                        <button class="globalButton figmabtnsqr100" (click)="createDevice()">
                                            <span><i class="fa fa-pencil-square-o fa-2x btnIcon"></i></span>
                                            <p class="buttonName">Create Device</p>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12">
                                        <button class="globalButton figmabtnsqr100" type="button"
                                            (click)="deleteDevice()" [disabled]="selection.selected.length===0">
                                            <span><i class="fa fa-trash fa-2x btnIcon"></i></span>
                                            <p class="buttonName">Delete Device</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrapper">
                            <table aria-describedby="" class="table table-stripes" mat-table [dataSource]="dataSource"
                                matSort>
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        style="padding-left: 8px; width: 75px;">
                                        <mat-checkbox [disabled]="dataSource!==undefined && dataSource.length==0"
                                            (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span
                                            translate>tabdevicename</span> </th>
                                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="macAddress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span
                                            translate>tabdevicemacaddress</span> </th>
                                    <td mat-cell *matCellDef="let row"> {{row.macAddress}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ipAddress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>IP ADDRESS</span> </th>
                                    <td mat-cell *matCellDef="let row"> {{row.ipAddress}} </td>
                                </ng-container>
                                <ng-container matColumnDef="side">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>SIDE</span> </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span *ngIf="row.side === 'left'">LEFT</span>
                                        <span *ngIf="row.side === 'right'">RIGHT</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: right !important;"> <span
                                            translate>
                                            lblconfigurelight </span> </th>
                                    <td mat-cell *matCellDef="let row"
                                        style="height: 60px; vertical-align: middle; text-align: right !important;">
                                        <i class="fa fa-edit" (click)="configureLights(row)"
                                            style="cursor: pointer; font-size:36px"></i>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>