@import '../../../styles/variables';
@import '../../../styles/_mixins.scss';

.edittablet {
	.card {
		padding: 20px;

		.title {
			.main-title {
				font-size: 36px;
				font-family: Arial;
				font-weight: bold;
				text-transform: capitalize;
			}
		}

		.form-horizontal {
			.form-group {
				.form-label {
					text-align: left !important;
				}

				.form-control {
					border-radius: 0px;
					font-size: 16px;
					height: 60px;
				}

				.date-input {
					height: 58px;

				}

			}
		}
	}
}

.basic-user {
	display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.closebutton_div {
	margin-left: -45px;
	margin-right: -45px;
	min-height: 37px;
}

.deviceadd {
	cursor: pointer;
}

.mat-drop {
	padding-top: 8px;
}

.mat-option {
	color: $grey;
	font-size: $font-size-sm;
	letter-spacing: $letter-spacing-sm;
	line-height: 2em !important;
	height: 2em !important;

	&:hover,
	&:focus {
		&:not(.mat-option-disabled) {
			background-color: #1a73e8 !important;
			color: $white;
		}
	}
}