@import '../../../styles/_variables';
@import '../../../styles/_tables';
@import '../../../styles/_nouislider-override';

#smart-tables {
  .card {
    .title {
      .main-title {
        font-size: 36px;
        font-weight: bold;
        font-family: arial;
      }
    }

    .btn-account,
    .btn-account-last {
      .globalButton {
        letter-spacing: 2px;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .table-wrapper {
      .mat-table {
        thead {
          tr {
            th {
              .mat-sort-header-container {
                .mat-sort-header-button {
                  color: $tableHeaderColor;
                  font-family: Arial;
                  font-size: 16px;
                }
              }
            }

            .mat-column-select {
              .mat-checkbox {
                label {
                  margin-bottom: 0px;
                  text-align: center;

                  .mat-checkbox-inner-container {
                    height: 18px;
                    width: 18px;

                    .mat-checkbox-frame {
                      border-color: #E4E4E4;
                    }
                  }
                }
              }
            }
          }
        }

        tbody {
          tr {
            td {
              color: $libertyBlue;
              font-family: Arial;
              font-size: 16px;
              vertical-align: middle;
              word-break: break-word;
            }
          }

          .mat-column-select {
            background: $white;
            padding-left: 0px;

            .mat-checkbox {
              label {
                text-align: center;

                .mat-checkbox-inner-container {
                  height: 24px;
                  width: 24px;

                  .mat-checkbox-frame {
                    border-color: #E4E4E4;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .table-1-filters {
    .date-input {
      display: inline;
      width: 60%;
    }

    .reset-date {
      background-color: transparent;
      border: 0;
      display: inline-block;
      font-size: $font-size-lg;
      vertical-align: sub;
    }
  }

  .mat-select-arrow,
  .mat-select-value {
    color: rgba(0, 0, 0, .87) !important;
  }

  nouislider {
    padding: 16px 0;
  }

  .mat-form-field-label {
    color: $libertyBlue !important;
  }

  .mat-form-field-ripple {
    background-color: $libertyBlue !important;
  }

  .mat-cell {
    vertical-align: middle;

    &[cell-name='status'] {
      &[cell-value='Completed'] {
        color: $green;
      }

      &[cell-value='In Progress'] {
        color: $yellow;
      }

      &[cell-value='Cancelled'] {
        color: $red;
      }
    }
  }

  .paginator {

    //material paginator
    .mat-paginator-page-size {
      align-items: center;
    }

    .mat-paginator-page-size-label {
      color: $libertyBlue;
      font-size: 14px;
      margin-left: 0px;
      margin-right: 10px;
    }

    .mat-paginator-page-size-select {
      margin: 0px;

      .mat-form-field-wrapper {
        padding: 0px;
        text-align: center;

        .mat-form-field-underline {
          display: none;
        }
      }
    }

    .mat-paginator-range-actions {
      color: $libertyBlue;
      font-size: 14px;
    }
  }

  .filter-wrapper {
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-form-field-underline {
      display: inherit;
    }
  }

  .btn-clear {
    margin-left: 15px;
  }

  .row-input {
    margin: 15px 0;
  }

  .interests-wrapper {

    .mat-form-field-underline {
      display: none;
    }

    .interests-list {
      .mat-chip-remove {
        align-self: flex-start;
        margin-top: 1px;
      }
    }
  }

  .table-1-filters {
    .date-input {
      display: inline;
      width: 60%;
    }

    .reset-date {
      background-color: transparent;
      border: 0;
      display: inline-block;
      font-size: $font-size-lg;
      vertical-align: sub;
    }
  }

  nouislider {
    padding: 16px 0;
  }

  .mat-select-arrow,
  .mat-select-value {
    color: rgba(0, 0, 0, .87) !important;
  }

  .mat-datepicker-toggle-active {
    color: #143345 !important;
  }

  .mat-calendar-body-selected {
    background-color: #143345 !important;

  }

  .mat-cell {
    vertical-align: middle;

    &[cell-name='status'] {
      &[cell-value='Completed'] {
        color: $green;
      }

      &[cell-value='In Progress'] {
        color: $yellow;
      }

      &[cell-value='Cancelled'] {
        color: $red;
      }
    }
  }

  .paginator {

    //material paginator
    .mat-paginator-page-size {
      align-items: center;
    }

    .mat-paginator-page-size-label {
      color: $libertyBlue;
      font-size: 14px;
      margin-left: 0px;
      margin-right: 10px;
    }

    .mat-paginator-page-size-select {
      margin: 0px;

      .mat-form-field-wrapper {
        padding: 0px;
        text-align: center;

        .mat-form-field-underline {
          display: none;
        }
      }
    }

    .mat-paginator-range-actions {
      color: $libertyBlue;
      font-size: 14px;
    }
  }

  .filter-wrapper {
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-form-field-underline {
      display: inherit;
    }
  }

  .btn-clear {
    margin-left: 15px;
  }

  .row-input {
    margin: 15px 0;
  }

  // .btn {
  //   background-color: $libertyBlue;
  //   color: $white;
  //   font-size: $font-size-xs;
  //   font-weight: bold;
  //   letter-spacing: $letter-spacing-xxs;
  //   padding: 7px 30px;
  // }

  .interests-wrapper {

    .mat-form-field-underline {
      display: none;
    }

    .interests-list {
      .mat-chip-remove {
        align-self: flex-start;
        margin-top: 1px;
      }
    }
  }

}

.mat-form-field {
  overflow: hidden !important;
}

// .cdk-overlay-pane{
//   width: 50% !important;
//   overflow-x: hidden;
// }

mat-select {
  font-family: arial !important;
  font-size: 16px;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border: 1px solid #E4E4E4;
  height: 38px;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 0px !important;
  --mdc-filled-text-field-container-shape: 0px !important;
}

.mat-mdc-icon-button {
  --mdc-icon-button-state-layer-size: 38px !important;
  padding: 0px !important;
}

.mat-datepicker-content .mat-calendar {
  background-color: white;
}

.mat-calendar-body-cell-content {
  border-color: white !important;
}

.mat-calendar-body-selected {
  background-color: #9c27b0 !important;
  color: white !important;
}

.mdc-text-field {
  padding: 0px 2px !important;
}

.mdc-text-field__input {
  padding-top: 8px !important;
}

.mat-datepicker-toggle-default-icon {
  margin-left: 0px !important;
}

.mat-mdc-form-field .mdc-line-ripple {
  display: none !important;
}
