@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 811px;
    width: 100%;
    min-height: 718px;
    padding: 0px;

    .card {
        margin-bottom: 0px;
        min-height: 718px;

        .login_wrapper {
            .login-form {
                .title_text {
                    font-size: 36px;
                    font-weight: bold;
                }

                .form-control {
                    font-size: 16px;
                    height: 60px;
                }

                .label_link {
                    font-size: 16px;
                    color: $libertyBlue;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}

.scrollbar {
    overflow-x: visible !important;
    overflow-y: hidden !important;
}

.eye-show {
    position: absolute;
    top: 20px;
    font-size: 20px;
    right: 10px;
}

.eye-show-terms {
    position: absolute;
    top: 35px;
    font-size: 20px;
    right: 10px;
}

.message-text-list {
    margin: 10px 10px 0 0px;
}

.alreadylogin {
    display: none;
}

span.icon_tickcross {
    width: 24px;
    margin-left: 0px;
}

.hr_line_wrapper {
    font-weight: lighter;
    font-size: 10px;
    max-width: 352px;
    margin: 25px auto;
}

.ld_tooltip {
    // background: url(../../../assets/images/popup_2x.png) no-repeat; 
    width: 80px;
    // min-height: 49px; 
    padding: 0px;
    position: absolute;
    top: 6px;
    background-size: 100%;
    color: $libertyBlue;
    font-size: 12px !important;
    right: -95px;
    display: none;
    text-align: left;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width: 1380px) and (min-width: 1025px) {
    .login {
        top: 55%;
    }

    .inputWrapper {
        width: 650px !important;
        min-height: 500px !important;
        transform: translate(-50%, -45%) !important;

        .card {
            min-height: 500px;

            .responsive-hide {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .inputWrapper {
        min-height: 500px;

        .card {
            min-height: 500px;

            .login_wrapper {
                .login-form {
                    .form-control {
                        font-size: 12px !important;
                    }

                    .responsive-hide {
                        display: none !important;
                    }

                    .ld_tooltip {
                        // background: url(../../../assets/images/popup_2x.png) no-repeat; 
                        width: 125px !important;
                        right: 42px !important;
                        top: 55px !important;
                    }

                    #passcodeToolTip {
                        right: 25px !important;
                        top: 115px !important;
                    }
                }
            }
        }
    }

    .message-text-list {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
    .inputWrapper {
        width: 650px !important;
        min-height: 500px !important;
        transform: translate(-50%, -20%) !important;

        .card {
            min-height: 500px;

            .responsive-hide {
                display: none !important;
            }
        }
    }

    .message-text-list {
        margin-top: 0px !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .inputWrapper {
        transform: translate(-50%, -15%) !important;
        min-height: 520px !important;

        .card {
            min-height: 500px;

            .responsive-hide {
                display: none !important;
            }
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}