<div class="main-navbar-container" style="width: 100%; height: 60px; z-index: 999;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-3 col-xs-3">&nbsp;</div>
        <div class="col-lg-6 col-xs-5">
            <div class="branding-col">
                <div class="brand-wrapper" style="text-align: center;">
                    <img class="brand-logo" src="kong/location/logo"
                        onerror="this.onerror=null; this.src='/assets/images/Liberty-Defense-Logo-.png'" alt="Logo"
                        height="55">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-4">&nbsp;</div>
    </div>
</div>

<div class="inputWrapper alreadylogin">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="login_wrapper">

                    <form class="form-horizontal login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row text-center responsive-hide">
                                    <div class="col-sm-12">
                                        <h2>&nbsp;</h2>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <h2 class="title_text" translate>lblAlreadyLoginHeading</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">

                                    <div class="row text-center mt-25" id="email-dv">
                                        <div class="col-xs-2 col-sm-1">&nbsp;</div>
                                        <label class="col-xs-8 col-sm-10 label-text nopadding" translate>
                                            <i class="fa fa-user"></i>&nbsp;
                                            USER NAME
                                        </label>
                                        <div class="col-xs-2 col-sm-1 responsive-hide">&nbsp;</div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-xs-2 col-sm-1">&nbsp;</div>
                                        <div class="col-xs-8 col-sm-10 nopadding" id="email_input_wrapper">
                                            <input type="email" class="form-control" placeholder=""
                                                formControlName="email">
                                            <span id="txtAlreadyLogin" class="message-text"
                                                style="top: 23px; display: block !important;"
                                                translate>lblLoggedInAlready</span>
                                        </div>
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="ld_tooltip" id="emailToolTip" translate>lblEmailcannotbefound
                                            </div>
                                            <span class="icon_tickcross" style="float: left;" id="emailTickRight"><img
                                                    alt="" src="../../../assets/images/checkmark2x.png" /></span>
                                            <span class="icon_tickcross" style="float: left;" id="emailTickWrong"><img
                                                    alt="" src="../../../assets/images/invalidcross2x.png" /></span>
                                        </div>
                                    </div>

                                    <div class="row text-center mt-25">
                                        <div class="col-xs-2 col-sm-1">&nbsp;</div>
                                        <label class="col-xs-8 col-sm-10 label-text nopadding" translate>CONFIRM
                                            PASSWORD</label>
                                        <div class="col-xs-2 col-sm-1 hidden-label">&nbsp;</div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-xs-2 col-sm-1">&nbsp;</div>
                                        <div class="col-xs-8 col-sm-10 nopadding">
                                            <div class="row text-center">
                                                <div class="col-sm-12"
                                                    [ngClass]="{ 'has-error': ((loginForm.get('password')?.invalid) && (loginForm.get('password')?.touched))}">
                                                    <input [type]="showPasswordOnPress ? 'text' : 'password'" #password
                                                        formControlName="password" class="form-control">
                                                </div>
                                                <div (pointerdown)="showPasswordOnPress = !showPasswordOnPress"
                                                    (pointerup)="showPasswordOnPress = !showPasswordOnPress"
                                                    (pointerleave)="showPasswordOnPress = false">
                                                    <i alt="show" class="fa fa-eye eye-show"
                                                        [class.hide]="showPasswordOnPress"></i>
                                                    <i alt="hide" class="fa fa-eye-slash eye-show"
                                                        [class.hide]="!showPasswordOnPress"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="ld_tooltip" id="passcodeToolTip" translate>lblIncorrect</div>
                                            <span class="icon_tickcross" id="passcodeTickWrong"
                                                style="float: left;"><img alt=""
                                                    src="../../../assets/images/invalidcross2x.png" /></span>
                                        </div>
                                    </div>

                                    <div class="row text-center notlogin mt-25">
                                        <div class="col-xs-2 col-sm-1"></div>
                                        <div class="col-xs-8 col-sm-10">
                                            <button class="globalButton" type="submit" [disabled]="!loginForm.valid"
                                                id="btnLogout" style="padding: 0px;">
                                                <span>
                                                    <i class="fa fa-sign-in fa-2x login_icon" aria-hidden="true"></i>
                                                </span>
                                                <p translate>lblLOGOUT</p>
                                            </button>
                                        </div>
                                        <div class="col-xs-2 col-sm-1"></div>
                                    </div>

                                    <div class="row text-center mt-25">
                                        <a class="col-sm-12 label_link" href="#" (click)="cancel()"><strong
                                                translate>lblCANCEL</strong></a>
                                    </div>
                                    <div class="row text-center mt-25 responsive-hide">
                                        <div class="col-sm-12">
                                            <h2>&nbsp;</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>