@import '../../../styles/_variables';
@import '../../../styles/_tables';
@import '../../../styles/_nouislider-override';

.accountmanagement{
    #smart-tables {
        .card{
			.innercard-wrapper{
				.title{
					.main-title{
						font-family: Arial;
						font-size: 36px;
						font-weight: bold;
					}
				}
				.search-bar-wrapper {
					margin-bottom: 10px;
					margin-top: 1px;
				
					.search-bar-icon {
						color: $libertyBlue;
						font-size: $font-size-lg;
						line-height: 47px;
						padding-left: 0px;
						position: absolute;
						right: 30px;
						-webkit-transform: scaleX(-1);
						transform: scaleX(-1);
					}
				
					.search-bar-input {
						background-color: $white;
						border: solid 2px $form-input-border-color;
						color: $libertyBlue;
						letter-spacing: 2px;
						padding: 14px 10px 12px;
						width: 100%;
						margin-top: 0px;
					}
				}
				.globalButton{
					font-family: Arial;
					font-size: 16px;
					font-weight: 700;
					letter-spacing: 2px;
				}
				.table-wrapper{
					.mat-table{
						thead{
							tr{
								th{
									.mat-sort-header-container{
										.mat-sort-header-button{
											color: $tableHeaderColor;
											font-family: Arial;
											font-size: 16px;
										}
									}
								}
								.mat-column-select{
									.mat-checkbox{
										label{
											margin-bottom: 0px;
											text-align: center;

											.mat-checkbox-inner-container{
												height: 18px;
												width: 18px;

												.mat-checkbox-frame{
													border-color: #E4E4E4;
												}
											}
										}
									}
								}
							}
						}
						tbody{
							tr{
								td{
									color: $libertyBlue;
									font-family: Arial;
									font-size: $font-size-xs;
									vertical-align: middle;
								}
							}
							.mat-column-select{
								background: $white;
								padding-left: 0px;
				
								.mat-checkbox{
									label{
										text-align: center;

										.mat-checkbox-inner-container{
											height: 24px;
											width: 24px;

											.mat-checkbox-frame{
												border-color: #E4E4E4;
											}
										}
									}
								}
							}
						}
					}
				}
				.paginator {
					//material paginator
					.mat-paginator-page-size {
						align-items: center;
					}
					.mat-paginator-page-size-label {
						color: $libertyBlue;
						font-size: 14px;
						margin-left: 0px;
						margin-right: 10px;
					}
					.mat-paginator-page-size-select {
						margin: 0px;

						.mat-form-field-wrapper {
							padding: 0px;
							text-align: center;

							.mat-form-field-underline {
								display: none;
							}
						}
					}
					.mat-paginator-range-actions {
						color: $libertyBlue;
						font-size: 14px;
					}
				}
			} 
		}
  	}
}

.action-icon-tooltip {
    display: inline-block;
    position: relative;
    opacity: 1;
    .action-icon {
        border-radius: 50%;
        color: gray;
        cursor: pointer;
        font-size: 24px;
        height: 36px;
        line-height: 36px;
        width: 36px;
        &:hover {
            color: $libertyBlue;
        }
    }
    .action-tooltip {
        background-color: $libertyBlue;
        border-radius: 0px;
        // box-shadow: $shadow;
        display: none;
        left: 45px;
        padding: 10px 15px;
        position: absolute;
        top: 10px;
        z-index: 999;
        .action-tooltip-point {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $libertyBlue;
            bottom: -7px;
            left: 26px;
            position: absolute;
        }
        .action-tooltip-text {
            color: $libertyBlue;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: $letter-spacing-xxxs;
            line-height: 1.5;
            margin-bottom: 0px;
        }
        &.action-tooltip-alt {
            background-color: #EBEBEB;
            width: 340px;
            .action-tooltip-point {
                border-top-color: #EBEBEB;
            }
            
        }
    }
    &:hover {
        .action-tooltip {
            display: block;
        }
        @media only screen and (device-width: 768px) {
            /* For general iPad layouts */
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
            /* For portrait layouts only */
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
            /* For landscape layouts only */
        }
        // iPhone X in landscape 
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)and (orientation: landscape) {}
        // iPhone X in portrait
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}
        @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {}
    }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  
}

// iPhone X in landscape 
@media only screen and (min-device-width : 320px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : landscape) { 
  
}
// iPhone X in portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
  
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1200px) {
	.pd-left-75{
		padding-left: 0px !important;
	}
}

